#custom-button-id-contact { 
    display: inline-flex;
    background: linear-gradient(to right, #faaa5b, #e53714);
            color: white;
            padding: 0.7rem 2rem;
        border-radius: 8px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1rem; 
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


#custom-button-id-form { 
    display: inline;
    background: linear-gradient(to right, #faaa5b, #e53714);
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    max-width: 250px;
    cursor: pointer;
    line-height: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}